.registration-form {
    background: #f0e68c; /* Amarillo claro */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 1px solid #32cd32; /* Color verde */
    background-color: #fffacd; /* Amarillo claro */
    color: #333;
    font-family: 'Arial', sans-serif;
}

button {
    display: block;
    width: 100%;
    background: #32cd32; /* Color verde */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #adff2f; /* Verde claro */
}
