.review-form, .reviews {
    background: #f0e68c; /* Amarillo claro */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

textarea {
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #32cd32; /* Color verde */
    background-color: #fffacd; /* Amarillo claro */
    color: #333;
    font-family: 'Arial', sans-serif;
}

button {
    display: block;
    width: 100%;
    background: #ff8c00; /* Color naranja */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #ffa07a; /* Naranja claro */
}

.review {
    background: #fffacd; /* Amarillo claro */
    padding: 10px;
    border-bottom: 1px solid #ffd700; /* Color amarillo */
    margin-bottom: 10px;
    border-radius: 10px;
    color: #333;
}
